.sentiment-chip {
    font-weight: bold;
    border-radius: 8px;
    margin-right: 8px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  